Ajax/* linguist-vendored
Awesome/css/* linguist-vendored
bootstrap/js/* linguist-vendored
AwesomeOld/css/* linguist-vendored
bootstrap/css/* linguist-vendored
CSS/bootstrap.css -linguist-vendored
CSS/fontawesome.css -linguist-vendored
