Ajax linguist-vendored
Awesome linguist-vendored
bootstrap linguist-vendored
AwesomeOld linguist-vendored
CSS/bootstrap.css -linguist-vendored
CSS/fontawesome.css -linguist-vendored
CSS/animate.css -linguist-vendored
