Ajax/* linguist-vendored
AwesomeOld/* linguist-vendored
Awesome/* linguist-vendored
bootstrap/js/* linguist-vendored
CSS/bootstrap.css -linguist-vendored
CSS/bootstrap.css -linguist-vendored
CSS/fontawesome.css -linguist-vendored
